

@media (min-width: 768px) {
    .ff-main-content {
        padding-top: 120px !important;
        
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: coral;
        
        
    }
    .nav-pills a:hover {
        color:rgb(90, 18, 18);
    }
    .navi-link {
        color: brown;
    }
    .burger-guy.nav-link a:hover, .burger-guy.nav-link a:focus, .burger-guy.nav-link.active {
        background-color: transparent;
        
        
    }
    .category-button {
        background-color: chocolate;
        margin: 10px;
    }
    .category-button:hover {
        background-color: rgb(183, 77, 11);
    }
    .bg-nav {
        background-color: rgb(249, 241, 73) !important;
    }

    #ff-username, #ff-password {
        width: 510px;
    }

    #ff-signin-btn {
        width: 250px;
        margin-right: 5;
    }
    #ff-signup-btn {
        width: 250px;
        margin-left: 5;

    }
   
}